/* memberikan kode CSS untuk mengatur tampilan halaman web.  */
/* untuk elemen h1  */
h1{
   color: red;
   font-size: 24px; 
}

/* untuk elemen h2  */
h2{
    color:blue;
    font-size: 20px;
}

/* untuk elemen p  */
p{
    color:green;
    font-size: 20px;
}